.crosshair {
  display: block;
  position: relative;
  overflow: hidden;
}
.crosshair img {
  width: 100%;
}
.crosshair .hair {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3px;
  margin-left: -2px;
  background: transparent;
  border-top: 3px solid black;
  border-left: 3px solid black;
  pointer-events: none;
  z-index: 2;
  opacity: 0.5;
}
.crosshair .hair.hair-vertical {
  height: 100%;
}
.crosshair .hair.hair-horizontal {
  width: 100%;
}
.crosshair .crosshair-legend,
.crosshair .crosshair-marker {
  display: block;
  position: absolute;
}
.crosshair .crosshair-legend {
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 10px;
  padding: 3px;
}
.crosshair .crosshair-marker {
  width: 30px;
  height: 30px;
  background-color: #aa1100;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  opacity: 0.5;
}

table { padding: 0; }
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 3px 6px;
}
table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 3px 6px;
}
table tr th :first-child, table tr td :first-child { margin-top: 0; }
table tr th :last-child, table tr td :last-child { margin-bottom: 0; }
