<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crosshair.js by eschmar</title>
        <meta name="description" content="jQuery crosshair overlay">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/amelia.bootstrap.min.css">
        <link rel="stylesheet" href="css/crosshair.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
      <div class="container">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="page-header" id="banner">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
              <h1>crosshair.js</h1>
              <p class="lead">jQuery crosshair overlay</p>
            </div>
          </div>
          <hr>
          <a href="https://github.com/eschmar/crosshair.js/zipball/master" class="btn btn-default">Download <strong>ZIP File</strong></a>
          <a href="https://github.com/eschmar/crosshair.js/tarball/master" class="btn btn-default">Download <strong>TAR Ball</strong></a>
          <a href="https://github.com/eschmar/crosshair.js" class="btn btn-primary">View On <strong>GitHub</strong></a>
          <p></p>
        </div>

        <section>{{ content }}</section>

        <hr>

        <footer>
          <p>This project is maintained by <a href="https://github.com/eschmar">eschmar</a></p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="js/crosshair-min.js"></script>

        <script>
          $('#demo-img').crosshair({
              callback: function(crosshair) {
                  console.log("Pixel coordinates: ("+crosshair.coords.x+"|"+crosshair.coords.y+")");
                  console.log("Relative position: X: "+crosshair.pct.x+"%, Y: "+crosshair.pct.y+"%");
              }
          });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-38601857-3', 'auto');
          ga('send', 'pageview');
        </script>
      </div>
    </body>
</html>
