<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Crosshair.js by eschmar</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/crosshair.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Crosshair.js</h1>
        <h2>jQuery crosshair overlay</h2>
        <p></p>

        <p class="view"><a href="https://github.com/eschmar/crosshair.js">View the Project on GitHub <small>eschmar/crosshair.js</small></a></p>

        <ul>
          <li><a href="https://github.com/eschmar/crosshair.js/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/eschmar/crosshair.js/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/eschmar/crosshair.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>{{ content }}</section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/eschmar">eschmar</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/crosshair-min.js"></script>
    <script>
      $('#demo-img').crosshair({
          callback: function(crosshair) {
              console.log("Pixel coordinates: ("+crosshair.coords.x+"|"+crosshair.coords.y+")");
              console.log("Relative position: X: "+crosshair.pct.x+"%, Y: "+crosshair.pct.y+"%");
          }
      });
    </script>
  </body>
</html>
